awscli
bcdoc
boto3
botocore
certifi
charset-normalizer
colorama
distlib
docutils
filelock

idna
importlib-metadata
jmespath
platformdirs
pyasn1
python-dateutil
python-gitlab
PyYAML
requests
requests-toolbelt
rsa
s3transfer
six
typing_extensions
typish
urllib3
virtualenv
zipp
jq
pydig